#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  font-family: Figtree, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
  color: #d5d8df;
}

.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 320px;
  background: #181b34;
  box-shadow: 8px 0px 7px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 10px;
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
  z-index: 10;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.cards-container {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sbr-toggle-btn {
	height: 32px;
	padding: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	width: 200px;
}

.sidebar-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;
  background-color: #0073ea;
  border-radius: 4px;
}

.list-toggle {
  background-color: #0073ea;
  border-radius: 4px;
}

.card {
  padding: 8px;
  border-bottom: 1px solid rgb(213, 216, 223);
  cursor: pointer;
}

.card.selected {
  background-color: #133774;
}

.card:hover {
	background-color: #3f4259;
	box-shadow: 0px 4px 3px 0px #797e93;
}

.card-addr {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 6px;
}

.item-cols {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.item-cols li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.col-label {
  font-weight: bold;
  flex: 1;
}

.col-val {
  text-align: right;
  flex: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
	animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.pin-pop {
  background-color: #181b34;
  padding: 0;
}

.pin-marker-cont {
  padding: 5px;
}

.pin-marker-addr {
  font-size: larger;
  font-weight: 200;
}